<div class="collection-hero color-{{ section.settings.color_scheme }}">
  <div class="collection-hero__inner page-width">
    <div class="collection-hero__text-wrapper">
      <h1 class="collection-hero__title">
        {{ collection.title }}
      </h1>
    </div>
  </div>
</div>
